html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  background-image: url(https://www.helloimg.com/images/2021/01/30/f8ec6f3d0461e62eff7fc0af7cf6f9bfe94470445e5728f1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 5px;
}
/* 滚动槽 */
body::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  border-radius: 50%;
  background: rgba(230, 245, 17, 0.945);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-content {
  width: 80vw;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.2);
}
